*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
.spinner-container{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100vh;
background-color: lightgray;
display: flex;
justify-content: center;
align-items: center;
transition: all 1s;
z-index: 300;
}

.spinner-container p{
    font-family: "Mulish";
    font-size: 2rem;
    margin-left: 5rem;
    margin-top: 25rem;
    font-weight: 500;
}

.display .spinner-container{
    opacity: 0;
    visibility: hidden;
    
}
.circles{
    width: 4rem;
    height: 4rem;
    position: relative;
}
.circles div{
    animation: circle 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite ;
    transform-origin: 4rem 4rem;
}

.circles div::after{
    content: "";
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: brown;
    margin: -0.4rem 0 0 -0.4rem;
}

.circles div:nth-child(1){
    animation-delay: -0.029s;
}
.circles div:nth-child(1)::after{
    top: 6.3rem;
    left: 6.3rem;

}
.circles div:nth-child(2){
    animation-delay: -0.027s;
}
.circles div:nth-child(2)::after{
    top: 6.8rem;
    left: 5.6rem;

}
.circles div:nth-child(3){
    animation-delay: -0.108s;
}
.circles div:nth-child(3)::after{
    top: 7.1rem;
    left: 4.8rem;

}
.circles div:nth-child(4){
    animation-delay: -0.144s;
}
.circles div:nth-child(4)::after{
    top: 7.2rem;
    left: 4rem;
}

.circles div:nth-child(5){
    animation-delay: -0.18s;
}

.circles div:nth-child(5)::after{
    top: 7.1rem;
    left: 3.2rem;

}
.circles div:nth-child(6){
    animation-delay: -0.216s;
}
.circles div:nth-child(6)::after{
    top: 6.8rem;
    left: 2.4rem;

}
.circles div:nth-child(7){
    animation-delay: -0.252s;
}
.circles div:nth-child(7)::after{
    top: 6.3rem;
    left: 1.7rem;

}
.circles div:nth-child(8){
    animation-delay: -0.288s;
}
.circles div:nth-child(8)::after{
    top: 5.6rem;
    left: 1.2rem;

}
@keyframes circle{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.container{
    display: none;
}
.display .container{
    display: block;
}

.hamburger-menu{
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 4rem;
    right: 5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right 0.7s;
}
.change .hamburger-menu{
    right: 33rem;
}
.line{

    width: 100%;
    height: 0.3rem;
    background-color: wheat;
    box-shadow: 0 0.1rem 0.2rem rgb(0,0,0,0.2);
}

.change .line {
background-color: black;
}

.change .line-1 {
    transform: rotate(45deg) 
    translate(0.3rem, 0.8rem);
}

.change .line-2 {
    opacity:0;
    visibility: hidden;
}
.change .line-3 {
    transform: rotate(-45deg) 
    translate(0.3rem, -0.8rem);
}
.hamburger-menu span{
    position: absolute;
    left: 5rem;
    width: 10rem;
    height: 4rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Mulish";
    font-size: 1.6rem;
    letter-spacing: .1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s;
}
.change .hamburger-menu:hover span{
    opacity: 1;
    visibility: visible;
}

.hamburger-menu span::before{
    content: " ";
    position: absolute;
    border-left: 1rem solid transparent;
    border-right: 1rem solid black;
    border-bottom: 1rem solid transparent; 
    border-top: 1rem solid transparent; 
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
}


.header{
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.8);
    overflow: hidden;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation-name: scale;
    animation-duration: 25s;
}


@keyframes scale{
0%{
    transform: scale(1.4);
}
100%{
    transform: scale(1);
}
}

.banner{
  position: absolute;
  left: 15%;
  top: 30%;

}

.banner h1{
    font-family: "Pacifico thin";
    font-style: italic;
    font-size: 5rem;
    font-weight: 300;
    color: seashell;
    width: 55%;
    line-height: 5rem;
    letter-spacing: 0.2rem;
    text-shadow: 0 0.3rem 0.5rem rgb(0,0,0,0.6);
    opacity: 0;   
    animation: movebanner 2s 0.5s forwards;
}


.banner p{
    font-family: "Mulish";
    font-style: italic;
    font-size: 2.5rem;
    color: seashell;
    width: 50%;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0.3rem 0.5rem,rgb(0,0,0,0.8);
    opacity: 0;
    animation: movebanner 2s 0.7s forwards;

}
.banner button{
    width: 20rem;
    height: 5rem;
    background-color: brown;
    border: none;
    font-family: serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: seashell;
    text-shadow: 0 0.2rem 0.4rem rgb(0,0,0,0.6);
    box-shadow: 0 0.3rem 0.6rem rgb(0,0,0,0.8);
    cursor: pointer;
    opacity: 0;
    animation: movebanner 2s 1s forwards;
}

@keyframes movebanner{
    0% {
        transform: translateY(40rem)
        rotateY(-30deg); 
    } 
    100% { 
        transform: translateY(0) 
        rotateY(0); 
        opacity: 1;
    }
}

.sidebar{
    width: 40rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -40rem;
    background-color: white;
    transition: right 0.5s;
    z-index: 100;
}
.change .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu-item{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.menu-link{
    font-family: "Mulish";
    font-weight: 400;
    font-size: 3rem;
    color: black;
    position: relative;
}

.menu-link::before{
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: orangered;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}
.menu-link:hover::before{
    width: 100%;
    transition: width .3s ease-in-out;
}
.social-media
{
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-media i{
    font-size: 2rem;
    margin: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-colour 0.3s;
}

.social-media i:hover{
    background-color: orangered;
}


.about{
      position: relative;
      overflow: hidden;
      width: 100wh;
      height: 100vh;
  }
  
.about .slider{
      position: absolute;
      top: 0;
      left: 0;
      width: 500%;
      height: 100%;
      float: left;
      animation: animate 21s linear infinite;
  }
  
.about .slider .slide{
      position: relative;
      width: 20%;
      height: 100%;
      float: left;
  }
  .ab-underline{
    width: 100%;
    height: 0.2rem;
    align-items: center;
    background-color: peru;
    margin-bottom: 1rem;
}
  
.about .slider .slide .caption{
      position: absolute;
      bottom: 20px;
      left: 60px;
      right: 60px;
      padding: 30px;
      background:rgba(255,255,255,1);
      box-sizing: border-box;
      box-shadow: 0 3rem 7rem rgba(0,0,0,0.9);
      transition: 1s }

.about .slider .slide .caption h2{
      margin: 0 0 0;
      text-align: center;
      padding: 0;
      color: black;
      font-family: "Mulish";
      font-size: 4rem;
      font-weight: 400;
      transition: 1s;
  }
.about .slider .slide .caption p{
      margin: 0%;
      padding: 0%;
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-size: 2rem;
      font-weight: 300;
      transition: 1s;
  }
.about .slider .slide.slide1{
      background: url(images/front2.jpg);
      opacity: 0.95;
      background-size: cover;
      background-position: center;
  }
  
.about .slider .slide.slide2{
      background: url(images/tea2.jpg);
      opacity: 0.95;
      background-size: cover;
      background-position: center;
  }
.about .slider .slide.slide3{
      background: url(images/goods.jpg);
      opacity: 0.95;
      background-size: cover;
      background-position: center;
  }
  
  @keyframes animate {
    0% { left: 0%; }     /* 0 - 30% of animation time */
    30% { left: 0%; }    /* 1st slide will be visible */
    33% { left: -100%; } /* 30% - 33% slide change will occur */
    63% { left: -100%; } /* etc.. */
    66% { left: -200%; }
    100% { left: -200%; }
    }
 
  @media  screen and (max-width:768px)
  {
      .about .slider .slide{
          position: relative;
          width: 20%;
          height: 100%;
          float: left;
      }
      .about .slider .slide .caption{
          position: absolute;
          bottom: 20px;
          left: 20px;
          right: 20px;
          padding: 20px;
        }
      .about .slider .slide .caption h2{
          margin: 0 0 10px;
          padding: 0;
          font-size: 30px;
         }
      .about .slider .slide .caption p{
       font-size: 2rem;
          }
  }
  


.origin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 20rem 5rem;
}

.origin p{
  margin-top: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}

.origin-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 10rem 0;
}

.origin-heading{
    font-family: "Muli", serif;
    font-size: 5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 1rem;
    
}
.origin-underline{
    width: 20rem;
    height: 0.3rem;
    align-items: center;
    background-color: lightskyblue;
    margin-bottom: 3rem;
}
.cards-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 9rem;
    width: 90%;

}

.card{
    width: 40rem;
    height: 40rem;
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.4);
    border-radius: 0.5rem;
    position: relative;
   }

   .card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem; /*make the corners rounded*/
}

.card-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 0.5rem;
    transition: opacity 0.3s;
}

.card-info{
    position: absolute;
    bottom: 0rem;
    padding: 2rem;
    text-shadow:0 0.2rem 0.5rem rgba(0,0,0,0.6);
    opacity: 0;
    visibility: hidden;
}
.card:hover .card-info{

    bottom: 2rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}
.card:hover .card-img-wrapper img{
    opacity:  0.5;
}

.card-info h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: white;
}
.card-info h3{
    font-family: "Mulish";
    font-size: 2rem;
    font-weight: 500;
    color: white;
    
}
.contact{
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.contact-wrapper
{
    width: 60%;
    height: 60rem;
    display: flex;
    box-shadow: 0 3rem 7rem rgba(0,0,0,0.5);
}
.contact-left{
    width: 35%;
    background: linear-gradient(rgba(15,15,15,0.4),rgba(22,22,22,0.7)), url(images/contact.jpg) center no-repeat;
    background-size: cover;
}
.contact-right{
    width: 65%;
    background-color: #eee;
    padding: 3rem 10rem 10rem 10rem;

}
.contact-heading h1{

  margin-top: 7rem;
  font-family: "Mulish";
  font-size: 4rem;
  font-weight: 350;
  color: #272727;
  margin-bottom: 4rem;
  text-align: center;

}

.contact-heading h3{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 400;
    color: black;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .footer{
      width: 100%;
      height: 15rem;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .footer-content{
      width: 60%;
      display: flex;
      justify-content: space-between;
  }
  .copyright {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 1.6rem;
      color: #a7a7a7;

  }
  .social-list a{
     margin: 0 2rem;
  }
  .social-list i{
      font-size: 2rem;
      color: #a7a7a7;

  }
  .scroll-btn{
      position: fixed;
      right: 3rem;
      bottom: 3rem;
      width: 4rem;
      height: 4rem;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: black;
      box-shadow: 0 0.1rem 0.6rem rgba(0,0,0,0.4);
      border-radius: 0.3rem;
  }
  
  @media(max-width:1500px){
    
      .card{
          width: 30rem;
        }
      .contact-wrapper{
          width: 80%;
          height: 64rem; }

       .footer-content{
          width: 80%;
          }
  }

  @media(max-width:1400px)
  {
     .banner h1{
      font-size: 5rem;
      line-height: 5rem;
      }
     .banner p{
      font-size: 2rem;
       }
     .banner button{
      width: 15rem;
      height: 3rem;
      font-size: 1.6rem;
      } 
     .menu-link{
        font-size: 2rem;
      }

}

@media(max-width:1270px)
{
 .origin{
     padding-bottom: 5rem;
 }
.cards-wrapper{
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    }

.card{
    margin-bottom: 5rem;
}

.contact-wrapper{
    width: 80%;
    height: 60rem;}
  
.contact-heading{
    margin-bottom: 2rem;
}
}

@media(max-width:1000px)
{
    .banner h1{
    font-size: 3rem;
    line-height: 4rem;
}

.banner p{
    font-size: 1.5rem;

}

.banner button{
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
}
.contact-left{
    width: 0%;

}

.contact-right{
    width: 100%;
}

.footer-content{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:50%;
}

.copyright{
    order: 1;
    margin-top: 3rem;
}

}

@media(max-width:700px){
.banner h1{
    font-size: 2rem ;
    line-height: 3rem;
}
.banner p{
    font-size: 1rem;

} 
.contact-wrapper
{
    width: 80%;
    height: 60rem;
    display: flex;
}
    .contact-heading h1{
        margin-top:5rem;
        margin-bottom:3rem;
        text-align: center;
      }
      .contact-heading h3{

        
        font-size: 2rem;
       
        margin-bottom: 2rem;
        text-align: center;
      }
}

@media(max-width:500px){
    html{
        font-size: 45%;
    }
    .sidebar{
        width: 100%;
        right: -100%;
    }
    .change .hamburger-menu{
        right: 38rem;
    }
    .contact-wrapper
    {
        width: 80%;
        height: 60rem;
        display: flex;
    }
        .contact-heading h1{
            margin-top:5rem;
            margin-bottom:3rem;
            text-align: center;
          }
          .contact-heading h3{
    
            
            font-size: 2rem;
           
            margin-bottom: 2rem;
            text-align: center;
          }
    .footer{
        height: 30rem;
    }
 
}
